<div class="container" id="home">
   <div class="row justify-content-center">
      <div class="col-md-10">
         <div class="card-group boxShadow">
            <div class="card border-dark">
               <div class="card-header bg-dark text-white">
                  <h3>Input data</h3>
               </div>
               <div class="card-body">
                  <form v-on:submit.prevent="onSubmit">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input v-model="name" type="text" class="form-control" id="name" aria-describedby="emailHelp"
                           placeholder="Enter name">
                     </div>
                     <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input v-model="phone" type="text" class="form-control" id="phone" placeholder="Phone number">
                     </div>
                     <div class="form-group">
                        <label for="pickup">Pickup Address</label>
                        <input v-model="pickup" type="text" class="form-control" id="pickup" placeholder="Pickup Address">
                     </div>
                     <div class="form-group">
                        <label for="dropoff">Drop-off Address</label>
                        <input v-model="dropoff" type="text" class="form-control" id="dropoff" placeholder="Drop-off Address">
                     </div>
                     <button type="submit" class="btn btn-block btn-primary">Submit</button>
                  </form>
               </div>
            </div>
            <div class="card border-dark">
               <div class="card-header bg-dark text-white">
                  <h3>Check info</h3>
               </div>
               <div class="card-body">
                  <h4>Name:</h4>
                  <p class="font-weight-bold"  v-cloak>{{name}}</p>
                  <h4>Phone:</h4>
                  <p class="font-weight-bold" v-cloak>{{phone}}</p>
                  <h4>Pickup Address:</h4>
                  <p class="font-weight-bold" v-cloak>{{pickup}}</p>
                  <h4>Drop-off Address:</h4>
                  <p class="font-weight-bold" v-cloak>{{dropoff}}</p>
               </div>
            </div>
         </div>
         <div class="card border-dark boxShadow">
            <template v-if="cost!==0">
               <div class="card-body">

                     <table class="table">
                           <tbody>
                             <tr>
                               <td>Distance:</td>
                               <td> <strong v-cloak>{{distance}} km</strong></td>    
                             </tr>
                             <tr>
                                <td>Average cost:</td>
                                <td><strong v-cloak>{{cost}}€</strong></td>
                             </tr>
                             <tr>
                                <td>Travel time:</td>
                                <td><strong v-cloak>{{travelTime}}</strong></td>
                             </tr>
                             <tr v-if="status===0">
                                <td></td>
                                <td>
                                    <button v-on:click="orderTaxi" type="submit" class="btn btn-block btn-primary">Order</button>
                                </td>                              
                              </tr>
                              <tr v-else-if="status===1">
                                 <td></td>
                                 <td>Searching for an available taxi...</td>
                              </tr>
                              <tr v-else-if="status===2">
                                 <td>Taxi is en route. Estimated time until arrival is</td>
                                 <td><strong v-cloak>{{arrivalTime}}</strong></td>
                              </tr>
                              <tr v-else-if="status===3">
                                 <td>Taxi will be late. The new estimated time until arrival is</td>
                                 <td><strong v-cloak>{{arrivalTime}}</strong></td>
                              </tr>
                              <tr v-else-if="status===4">
                                 <td></td>
                                 <td><strong v-cloak>You have arrived at your destination.</strong></td>
                              </tr>
                              <tr v-else-if="status===5">
                                 <td></td>
                                 <td><strong v-cloak>We are sorry, but there are no available taxis at the moment.</strong></td>
                              </tr>
                              <tr v-if="driverMessage !== '' && status !== 4">
                                 <td>The driver sent a message:</td>
                                 <td><strong v-cloak> {{driverMessage}} </strong></td>
                              </tr>
                           </tbody>
                         </table>
               </div>
            </template>
            <div class="card-body">
               <div id="map"></div>
            </div>
         </div>
      </div>
   </div>
</div>


<!-- <form class="" v-on:submit.prevent="orderTaxi">
                     <div class="form-group">
                        <h4>Distance: <strong v-cloak>{{distance}} km</strong> <br> Average cost: <strong v-cloak>{{cost}} eur</strong><br> Travel
                           time: <strong v-cloak>{{travelTime}}</strong>
                        </h4>
                     </div>
                     <div class="form-group" v-if="status===0">
                        <button type="submit" class="btn btn-block btn-primary">Order</button>
                     </div>
                     <div class="form-group" v-else-if="status===1">
                        <h4>Searching for an available taxi...</h4>
                     </div>
                     <div class="form-group" v-else-if="status===2">
                        <h4>Taxi is en route. Estimated time until arrival is : <strong v-cloak>{{arrivalTime}}.</strong> </h4>
                     </div>
                  </form> -->

