<%= if Plug.Conn.get_session(@conn, :role)!="user" do %>
<script>window.location.href = "/"</script>
<% end %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-dark boxShadow">
                <div class="card-header bg-dark text-white">
                    <h3>Become a taxi driver</h3>
                </div>

                <div class="card-body m-0">
                    <p class="font-weight-bold">To be considered for driving on the platform, STRS drivers must meet
                        certain age and possess the following requirements:</p>
                    <div class="list-group mb-2">
                        <button type="button" class="list-group-item list-group-item-action">Valid driver’s license</button>
                        <button type="button" class="list-group-item list-group-item-action">Proof of insurance</button>
                        <button type="button" class="list-group-item list-group-item-action">Driving experience</button>
                        <button type="button" class="list-group-item list-group-item-action">Vehicle requirements</button>
                        <button type="button" class="list-group-item list-group-item-action">Clean criminal record</button>
                        <button type="button" class="list-group-item list-group-item-action">Driving experience</button>
                    </div>
                    <p>After registering your details, send us an e-mail at <strong>apply[at]strs.com</strong> to
                        receive instructions how to proceed.</p>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>