<div class="container" id="csrClient">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div v-if="status==='unsubmitted'" class="card-group">
        <div class="card border-dark boxShadow">
          <div class="card-header bg-dark text-white">
            <h3>File Customer Service Request</h3>
          </div>
          <div class="card-body">
            <!-- type title description dropoff pickup date name phone email -->
            <form v-on:submit.prevent="onSubmit">
              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label for="type">Type</label>
                    <select v-model="type" id="type" class="form-control">
                      <option value="0">Lost item</option>
                      <option value="1">Report driver</option>
                    </select>
                  </div>
                  <div class="col">
                    <label for="title">Title</label>
                    <input v-model="title" type="text" class="form-control" id="title" placeholder="Title" />
                  </div>

                </div>

              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label for="email">Enter E-mail</label>
                    <input v-model="email" type="email" class="form-control" id="email" placeholder="E-mail address" />
                  </div>
                  <div class="col">
                    <label for="date">Date of Service</label>
                    <input v-model="date" type="date" class="form-control" id="date" placeholder="Date of Service" />
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label for="description">Description</label>
                <textarea v-model="description" type="text" rows="5" class="form-control" id="description" placeholder="Description"></textarea>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    <label for="pickup">Pickup Address</label>
                    <input v-model="pickup" type="text" class="form-control" id="pickup" placeholder="Pickup Address" />
                  </div>
                  <div class="col">
                    <label for="dropoff">Drop-off Address</label>
                    <input v-model="dropoff" type="text" class="form-control" id="dropoff" placeholder="Drop-off Address" />
                  </div>
                </div>

              </div>

              <button type="submit" class="btn btn-block btn-primary">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="card " v-else>
        <div class="card-header bg-dark text-white">
          <h4>Request submitted</h4>
        </div>
      </div>
    </div>
  </div>
</div>