<%= if Plug.Conn.get_session(@conn, :role)!="operator" do %>
      <script>window.location.href="/"</script>
    <% end %>

<div class="container" id="csrOperator">
   <div class="row justify-content-center">
      <div class="col-md-12">
         <div class="card-group boxShadow">
             <div class="card border-dark">
               <div class="card-header bg-dark text-white">
                  <h3>Filter</h3>
               </div>
               <div class="card-body">
                  <form v-on:submit.prevent="onSubmit">
                  <div class="form-group">
                        <label for="status">Status</label>
                        <select v-model="status" id="status" class="form-control" >                                   
                          <option value="open" selected>Open</option>
                          <option value="resolved">Resolved</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="type">Type</label>
                        <select v-model="type" id="type" class="form-control"  >                                   
                          <option value="lost" selected>Lost item</option>
                          <option value="scam">Report driver</option>
                        </select>
                      </div>
                    
                      <div class="form-group">
                        <label for="date">Date of service</label>
                        <input
                          v-model="date"
                          v-on:change="updateResults"
                          type="date"
                          class="form-control"
                          id="date"
                          placeholder="Date of service"
                        />
                      </div>
                     
                      <div class="form-group">
                        <label for="pickup">Pickup address</label>
                        <input
                          v-model="pickup"
                          v-on:change="updateResults"
                          type="text"
                          class="form-control"
                          id="pickup"
                          placeholder="Pickup address"
                        />
                      </div>
                      <div class="form-group">
                        <label for="dropoff">Drop-off Address</label>
                        <input
                          v-model="dropoff"
                          v-on:change="updateResults"
                          type="text"
                          class="form-control"
                          id="dropoff"
                          placeholder="Drop-off address"
                        />
                      </div>
                      <button type="submit" class="btn btn-block btn-primary">
                        Submit
                      </button>
                    </form>
                    <button class="btn btn-block btn-danger mt-2" v-on:click="resetPage">Reset</button>
                  </div>
            </div>
            <div class="card border-dark">
               <div class="card-header bg-dark text-white">
                  <h3>Reports</h3>
               </div>
               <div class="card-body">
                 <!-- <div class="card-header" v-if="loading">
                      Loading....
                  </div> 
                  <div v-else>-->
                      
                  <div>
                  <p class="">Found <strong v-cloak>{{reports.length}}</strong> result(s).</p> 
                  </div>
                  <div v-if="reports.length!==0">
                    <div class="card mb-2" v-for="item in reports">
                    <div class="card-header" v-cloak>
                      {{item.date}} <br>
                      <strong v-cloak>{{item.title}}</strong>
                    </div>
                    <div class="card-body">
                        <p>Pickup address: <strong v-cloak>{{item.pickup}}</strong></p>
                        <p>Drop-off address: <strong v-cloak>{{item.dropoff}}</strong></p>
                        <p>Description: <strong v-cloak>{{item.description}}</strong></p>
                        <p>E-mail: <strong v-cloak>{{item.email}}</strong></p>
                        
                        <div class="btn-group flex-wrap text-center special" role="group" >
                          <button class="btn btn-primary" data-toggle="modal" data-target="#mailModal">Reply</button>
                          <button class="btn  btn-success" v-on:click="changeStatus(item.id)">Resolve</button>
                          <button class="btn btn-warning"  v-on:click="getBookings(item.date)"><i class="fa fa-search"></i> Search</button>
                        </div>
                        
                      </div>
                  </div>
                  </div>                  
                  <div id="scroll"></div>
                  <!-- <div id="product-list-bottom">
                    <div v-if="noMoreItems">No more items.</div>
                  </div>                   
               </div>-->
            </div>
         </div>
         <div class="card border-dark" v-if="searchBookings">
            <div class="card-header bg-dark text-white">
                <h3>Bookings</h3>
             </div>
             <div class="card-body">
                <div>
                    <p class="">Found <strong v-cloak>{{bookings.length}}</strong> booking(s).</p> 
                    </div>
                    <div v-if="bookings.length!==0">
                      <div class="card mb-2" v-for="item in bookings" >
                      <div class="card-header" v-cloak>
                        {{item.date}}
                      </div>
                      <div class="card-body">
                          <p>Pickup address: <strong v-cloak>{{item.pickup}}</strong></p>
                          <p>Drop-off address: <strong v-cloak>{{item.dropoff}}</strong></p>
                          <p>Driver name: <strong v-cloak>{{item.name}}</strong></p>
                          <p>Driver email: <strong v-cloak>{{item.email}}</strong></p>
                      </div>
                       <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#contactModal">Contact Driver</button>
                    </div>
                    </div>
             </div>
         </div> 
      </div>
   </div>
</div>

<!-- reply Modal -->
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header  text-white bg-dark">
          <h4 class="modal-title" id="exampleModalLabel">Send e-mail</h4>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-body">
            <div class="form-group">
                <textarea
                  id="mailText"
                  type="text"
                  rows="5"
                  class="form-control"
                  placeholder="Email text"
                ></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" 
          onclick="if(document.getElementById('mailText').value!=='') {alert('Mail was sent')}else{alert('Please fill in the form')}">Send</button>
        </div>
      </div>
    </div>
  </div>

  <!-- contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header  text-white bg-dark">
          <h4 class="modal-title" id="contact">Contact Driver</h4>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-body">
            <div class="form-group">
                <textarea
                  id="contactText"
                  type="text"
                  rows="5"
                  class="form-control"
                  placeholder="Email text"
                ></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" 
          onclick="if(document.getElementById('contactText').value!=='') {alert('Mail was sent')}else{alert('Please fill in the form')}">Send</button>
        </div>
      </div>
    </div>
  </div>



  