<div class="container" id="login">
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div class="card border-dark boxShadow">
            <div class="card-header bg-dark text-white">
               <h3>Login</h3>
            </div>
            <div class="card-body">
               <form method="POST" action="" aria-label="" v-on:submit.prevent="login">
                  <div class="form-group row">
                     <label for="email" class="col-sm-4 col-form-label text-md-right">E-mail address</label>
                     <div class="col-md-6">
                        <input id="email" type="email" v-model="email" class="form-control" name="email" value="" required autofocus>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                     <div class="col-md-6">
                        <input id="password" type="password" v-model="password" class="form-control" name="password" required>
                     </div>
                  </div>
                  <div class="form-group row mb-0">
                     <label for="login" class="col-md-4 col-form-label text-md-right"></label>
                     <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-block btn-primary">
                        Login
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>