<%= if Plug.Conn.get_session(@conn, :role)!="user" do %>
<script>window.location.href = "/"</script>
<% end %>
<div class="container" id="myTravels">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h3>My Travels</h3>
                </div>

                <div class="card-body m-0 bg-dark">
                    <%# <div class="card-header" v-if="loading">
                      Loading....
                  </div> %>
                    <%# <div v-else> %>
                    <div>
                        <p class="text-white">Found <strong>{{items.length}}</strong> results.</p>
                    </div>
                    <div class="card" v-for="item in items">
                        <div class="card-header">
                            {{item.date}}
                        </div>
                        <div class="card-body">
                            <p>Pickup address: <strong>{{item.pickup}}</strong></p>
                            <p>Drop-off address: <strong>{{item.dropoff}}</strong></p>
                            <p>Cost: <strong>{{item.cost}}</strong></p>
                            <p>Distance: <strong>{{item.distance}}</strong></p>
                        </div>
                    </div>
                    <div id="scroll"></div>
                    <%# <div id="product-list-bottom">
                    <div v-if="noMoreItems">No more items.</div>
                  </div> %>
                </div>
            </div>
        </div>
    </div>
</div>