<div class="container" id="register">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-dark boxShadow" v-if="registered===0">
                <div class="card-header bg-dark text-white"><h3>Register</h3></div>

                <div class="card-body">
                    <form  aria-label="" v-on:submit.prevent="register">            
                        <div class="form-group row">
                            <label for="username" class="col-sm-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" v-model="name" name="name" value="" required autofocus>                              
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right">E-mail address</label>
                            <div class="col-md-6">
                                <input id="email" type="email" v-model="email" class="form-control" name="email" value="" required autofocus>                              
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" v-model="password" type="password" class="form-control" name="password" required>       
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="password"  class="col-md-4 col-form-label text-md-right">Password again</label>

                            <div class="col-md-6">
                                <input id="password2" v-model="password2" type="password" class="form-control" name="password" required>       
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                         <label for="register" class="col-md-4 col-form-label text-md-right"></label>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card" v-else>
                <div class="card-header bg-dark text-white"><h3>User created. Please <a href="/login">log in</a> </h3></div>
            </div>
        </div>
    </div>
</div>