<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>STRS</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
   <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
   <link rel="icon" type="image/png" sizes="32x32" href="https://i.imgur.com/nTxGOO6.png">
</head>

<body>
   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top boxShadow mb-4">
         <div class="container">
            <a class="navbar-brand mainLogo" href="/">
              
               <img class="mainLogo d-none d-md-block" src="https://i.imgur.com/XtDFf02.png" type="image/png" alt="">
               

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
               aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav font-weight-bold ml-auto" id="nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <%= if Plug.Conn.get_session(@conn, :role)=="user" do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/myTravels">My Travels</a>
                  </li>
                  <% end %>
                  <%= if Plug.Conn.get_session(@conn, :role)=="user" || is_nil(Plug.Conn.get_session(@conn, :role)) do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/csrClient">Customer Service</a>
                  </li>
                  <% end %>
                  <%= if Plug.Conn.get_session(@conn, :role)=="operator" do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/csrOperator">Reports</a>
                  </li>
                  <% end %>

                  <%= if Plug.Conn.get_session(@conn, :role)=="driver" do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/dMyTravels">History</a>
                  </li>
                  <% end %>

                  <%= if Plug.Conn.get_session(@conn, :role)=="driver" do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/driver">Requests</a>
                  </li>
                  <% end %>

                  <%= if Plug.Conn.get_session(@conn, :role)!="driver" && Plug.Conn.get_session(@conn, :role)!= "operator" do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/applyDriver">Apply</a>
                  </li>
                  <% end %>

                  <%= if Plug.Conn.get_session(@conn, :name) do %>
                  <li class="nav-item">
                     <a class="nav-link text-white" href="#"><i class="fa fa-user">
                           <%= Plug.Conn.get_session(@conn, :name)%></i></a>
                  </li>
                  <% end %>
                  <%= if Plug.Conn.get_session(@conn, :name) do %>
                  <li class="nav-item">
                     <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i></a>
                  </li>
                  <% else %>
                  <li class="nav-item">
                     <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/login"><i class="fa fa-sign-in"></i></a>
                  </li>
                  <% end %>
               </ul>
            </div>
         </div>
      </nav>
   </header>


   <%= unless is_nil(get_flash(@conn, :info)) do %>
   <p class="alert alert-success" role="alert">
      <%= get_flash(@conn, :info) %>
   </p>
   <% end %>
   <%= unless is_nil(get_flash(@conn, :error)) do %>
   <p class="alert alert-danger" role="alert">
      <%= get_flash(@conn, :error) %>
   </p>
   <% end %>
   <main role="main" class="mb-3">
      <%= render @view_module, @view_template, assigns %>
   </main>
   <footer class="footer text-center bg-dark text-white p-4 mt-2">
      <div class="container">
         <div class="row text-center">
            <div class="col-md-6 mx-auto">
               <h4 class="">Strelsau’s Taxi Ordering System &copy;
                  <script type="text/javascript">
                     document.write(new Date().getFullYear());
                  </script>
               </h4>
            </div>
         </div>
      </div>
   </footer>

   <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> %>
   <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> %>
   <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> %>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEYC9rfY3IYzGV__lPsI-stISFNVZqtMc&language=en"></script>
   <!-- Before that line -->
   <script src='<%= static_path(@conn, "/js/app.js") %>'></script>
</body>

</html>