@media only screen and (max-width: 993px) {
  .mainLogo img{
    height: 50px; 
    //margin-bottom: -34px;   
  }
}

@media only screen and (min-width: 993px) {
  .mainLogo img{
    height: 65px; 
    margin-bottom: -34px;   
  }
}



html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 80px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}



body {  
  padding-right: 0px !important;
  overflow-x: hidden;
  // overflow-y: hidden;   
}
main{
    margin-top: 100px !important;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
  .boxShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-inline h4{
    white-space: nowrap;
    word-break: break-all;
  }
  .navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  
  .navActive{
    text-decoration:underline #58ABC9 3px solid;
    border-top: #58ABC9 3px solid;
    border-bottom: #58ABC9 3px solid;
  }
  .customHR{    
    
    border-top: black 3px solid;
  }

//   .modal-backdrop {
//     margin-top: 150px;
//     z-index: 100000 !important;
//   }

//   .modal {
//     margin-top: 150px;
//     z-index: 100001 !important;
//   }

  [v-cloak] {
    display: none;
  }



  .btn-group.special {
    display: flex;
  }
  
  .special .btn {
    flex: 1
  }