<%= if Plug.Conn.get_session(@conn, :role)!="driver" do %>
      <script>window.location.href="/"</script>
    <% end %>
<div class="container" id="driver">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-dark boxShadow">
                <div v-if="status === 'invisible'">
                    <form v-on:submit.prevent="makeAvailable">
                        <button type="submit" class="btn btn-block btn-primary">Make me Available!</button>
                    </form>
                </div>
                <div v-else-if="status === 'available'">
                 <form v-on:submit.prevent="makeInvisible">
                        <button type="submit" class="btn btn-block btn-primary">Make me Invisible!</button>
                    </form>
                    <div class="card-header bg-dark text-white"><h3>Available requests</h3></div>
                    <div class="card-body m-0 bg-dark">
                    <%# <div class="card-header" v-if="loading">
                        Loading....
                    </div> %>
                    <%# <div v-else> %>
                    <div>
                    <p class="text-white">Found <strong v-cloak>{{requests.length}}</strong> requests.</p> 
                    </div>
                    <div class="card" >
                        <div v-for="item in requests">
                            <hr class="customHR">
                            <div  class="card-body">
                            <p>Pickup address: <strong v-cloak>{{item.pickup}}</strong></p>
                            <p>Drop-off address: <strong v-cloak>{{item.dropoff}}</strong></p>
                            <p>Cost: <strong v-cloak>{{item.cost}}</strong></p>
                            <p>Distance: <strong v-cloak>{{item.distance}}</strong></p>
                        <div class="btn btn-primary btn-block" v-on:click="acceptBooking(item)">Accept</div>
                        </div>
                        
                    </div>
                        </div>
                        
                    <div id="scroll"></div>
                    </div>
                </div>   
                <div v-else-if="status === 'busy'" >
                    <div class="card-header bg-dark text-white"><h3>Current request</h3></div>
                    <div class="card-body m-0 bg-dark">
                    <%# <div class="card-header" v-if="loading">
                        Loading....
                    </div> %>
                    <%# <div v-else> %>
                    <div>
                    <p class="text-white">Currently served request:</p> 
                    </div>
                    <div class="card" >
                            <hr class="customHR">
                        <div  class="card-body" v-bind:class="current_booking">
                            <p>Pickup address: <strong v-cloak>{{current_booking.pickup}}</strong></p>
                            <p>Dropoff address: <strong v-cloak>{{current_booking.dropoff}}</strong></p>
                            <p>Cost: <strong v-cloak>{{current_booking.cost}}</strong></p>
                            <p>Distance: <strong v-cloak>{{current_booking.distance}}</strong></p>
                            <div class="btn btn-primary btn-block" v-on:click="completeBooking()">Done!</div>
                        </div>
                    </div>
                        
                    <div id="scroll"></div>
                    <%# <div id="product-list-bottom">
                        <div v-if="noMoreItems">No more items.</div>
                    </div> %>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Message client about arrival</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter delay in minutes or message for user (default: delay 5 min)" v-model="clientMessage" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-block" type="button" v-on:click="messageClient">Send</button>
                                </div>
                            </div>

                            <h4 v-cloak>Current arrival time delay: {{time_late}}</h4>
                        </div>
                </div>             
            </div>
        </div>
    </div>
</div>

